html, body {
  margin: 0;
  padding: 0;
}

/*fixes position of giphy display area*/
#gif-area {
  position:fixed;
  left:10%;
  top: 10%;
}

/*fixes the position of the canvas*/
#sketch-holder{
  position:fixed;  
  left:45%;
  top: 15%;
  
}

